@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Sample SPA!</title>
</head>
<body>
    <div id="comments"></div>
    <script src="http://fb.me/react-0.10.0.js"></script>
    <script src="@Url.Content("~/Scripts/Jsx/Comments.jsx")"></script>
</body>
</html>